body {
    font-family: Arial, sans-serif;
    margin: 40px;
}

h2 {
    margin-top: 30px;
}

.time {
    margin-top: 5px;
    font-weight: bold;
}

video {
    width: 500px;
    display: block;
}
