body {
    font-family: Arial;
    text-align: center;
    background: #f0f8ff;
}

button {
    padding: 10px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
}

p {
    font-size: 18px;
    margin-top: 15px;
}